form {
    height: 170px;
    width: 50%;
    max-width: 700px;
    margin: auto;
}

#rating-wrapper {
    margin-bottom: 30px;
}

#reaction-wrapper {
    height: 20px;
    font-size: 150%;
    margin-bottom: 10px;
}

#error-msg {
    color: red;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}

@media screen and (max-width: 500px) {
    form {
        width: 95%;
    }
}